.login{
    min-height: 100vh;
    background: url('../assets/background.png') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}

.login-form{
    background: white;
    padding: 20px 30px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.login-form h2{
    font-weight: 500;
}

.form-input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 5px;
    outline-color: #077EFF ;
}

.login-toggle{
    color: #077EFF;
}