.ls{
    background-color: #001030;
    color: white;
    height: 75vh;
}

.ls-top{
    padding: 20px;
}

.ls-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ls-nav .logo{
    max-width: 140px;
}
.ls-nav .menu img{
    max-height: 20px;
    opacity: 0.6;
    cursor: pointer;
}

.search-icon{
    background-color: #002670;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 12px;
    margin: 20px;


}

.search-icon img{
    max-height: 16px;
   
}
.search-icon input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 11px;
   
}

.search-icon input::placeholder{
    color: #c8c8c8;
}

ls-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 70%;
    overflow-y: scroll;
}

.profile{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profile img{
    max-width: 60px;

}

.profile .usrName{
    margin-top: 20px;
}
.profile:hover{
    background-color: #077EFF;
}