@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}




.card{
  background-color: wheat;
  max-width: 200px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-family: sans-serif;
  margin: 10px;
  padding: 2px;
  text-align: center;
  display: inline-block;
  
}



.card img {
  width: 200px;
 
}

.card :hover{
  transform: scale(1.02);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1)
}

.taskCard{
  background-color:  transparent;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-family: sans-serif;
  margin: 10px;
  padding: 16px;
  text-align: center;
 
  margin-top: 50px;

   background-color: white;
  
}

.taskHeader{
  border-style: solid;
    border-radius: 5px;
    background-color: #f9f9f7;
    color: black;


}


.taskStatus{

    padding: 0px 10px 20px 0px;
      border-radius: 5px;
}

.deleteTask{

 
  border-radius: 5px;
}

 button{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: antiquewhite;
}

button:hover{
  background-color: white;
   transform: scale(1.05);
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  width: 300px; /* fixed from "100" */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content input,
.modal-content select,
.modal-content .developerDropDown {
  margin-bottom: 12px;
  width: 200px;
  height: 30px;
}

.mainContainer{
  
  font-family: sans-serif;
  margin: 10px;
  padding: 2px;
  text-align: center;

  display: inline-block;

}

.close-icon{
  border-radius: 15px;
  margin-left: 250px;
  background-color: red;

}


.sideBar{
  height: 100%;
  width: 200px;
  background-color: #F2EDEE;
  display: flex;
  
 
}

.welcomeImage{
  background-color: blue;
}


.App{
  height: 100vh;
  width: 100vw;
  
}


.row{
  display: flex;
  flex-direction: row;
}

.sideBarList{
display: flex;
flex-direction: column;

}

 .menuName{
font-size: 8px;



}

.icon img {
  width: 30px;
  height: 18px;
  object-fit: contain;
}

.sdbar{

 


}


.container{
   display: flex;
   flex-direction: row;
}


.App {
  display: flex;
  height: 100vh; /* Full viewport height */
}



.videoDownload{
  display: flex;
  flex-direction: column;
  align-items: center ;
  width: 100%;
  margin-top: 200px;

}

.videoDownload #downloadInput ,  #buttonDownload {
  border: 1px solid black;
  border-radius: 10px;
  
  
}
.videoDownload #buttonDownload {
 margin-top: 10px;
 margin-left: 190px;

 width: 100px;
}

.videoDownload #downloadInput{
  width: 250px;
  padding: 20px;
}


.quizApp{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center ;

  margin-top: 100px;
  flex-direction: column;
}

.questionBox{
 width: 400px;
 height: 200px;
 border: 1px solid blanchedalmond;
 border-radius: 12px;
}

.answerBox{
  width: 400px;
 height: 200px;
 border-radius: 12px; 

 display: flex;
 flex-direction: row;
 gap: 30px;
 margin-left: 20%;
}

::-webkit-scrollbar{
  display: none;
}


.menu-container {
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUTExMWFhUVGBYaGRYXGBcXGBgYGBcYFxcXFxcYHiggGB4lHRUXITEiJyorLi4vFx8zODMvNygtLisBCgoKDg0OGxAQGy0lICUtLS0yMi0vLS8tLS0tLS0tLy0tLS0tLS0tLS0tLS0tLy8tLS0tLS0tLS0vLS0tLS0tLf/AABEIAOEA4QMBEQACEQEDEQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAABQcDBAYCAQj/xABKEAACAQIDBAcEBgcFBgcBAAABAgADEQQSIQUGMUEHE1FhcYGRIjKhsRQjQlJignKSssHR4fAVU3OiwhckM0OT0iUmNYOztPEW/8QAGwEBAAIDAQEAAAAAAAAAAAAAAAQFAgMGAQf/xAA7EQACAgEBBQQIBAUDBQAAAAAAAQIDEQQFEiExQRNRYXEiMoGRobHB0QYU4fAVM0JS8SMkUzRDYnKS/9oADAMBAAIRAxEAPwC8YAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAav0z2rWFs2W5YC555QfesdDw4G14BjobTVgxI91c2hDaa6ED3W04ehNjYD62P0DZDbLmbhmUcCLcyNbi/LS8A+V9oANlGW9yLswUGwQ6GxufbHoYBkp45SxWxuGy62/FZvA5GHiDAPWErM18yhbEjRr3I48hAMVPaFwTl7AFBBa7GwVh9k9o5QD19MI9kp7dwAoNwbgkMG+7ZW4i/snQ6XA9nFW98ZfZdjrcAIRc387wD5hsWHyeyQWVjY2upUqrK1iRcFraXGhgHnE49UbK19RcHkSSQEHMsbGw52gHijtEMVAAF0VrFgHswJ0UXvw7e2AfaWPuBmUgnq9Lggh2Cgg9xOv/wCQDNh8UHZ1APsG19LHvFuWYMuvND3QD42K9lSASWNlGmp14nkAAT4DmdIBj+mnhl9sEgrfQWAbNm+7YjW19eEA+rjCQMqhiQSbMMoANveF73sbeGtoB8XHglQBbMB7xCm5JUqB9oqQbi+mnG8A3IAgCAIAgCAIAgCAIAgGs+DBN7sAWDFRbKWBBB1FxqAdCAbd5uB8bAIQBbSyg94Vsy37bG/qYB5OzU4AsFN7qLWIY5iDpcC5PAjiYB7fBjNmDMpN9Rl5hQR7QP3FgH04JLq2t0ZmBv8AfvmB7Rrw7h2QDLTphb25knzMAwNggeLMTwBJF1sQwsQNdVHG/DxuA+hDmzFrg57jMCBYW0sBYkWtbU9pgH18ErCzFm0IN7agsGINhaxygW7LwDyMAoN0Zktm0XLb2spbRgbXK38Se2AbApjMW5kAehJHzMAw0sGFtZmACquX2bEKLC9xf48oB5pYBQLEs3uam17IQyjQAWuOyAesPgkQ3UWNiCfvXNyW7Te5v+I9sA+DBC1s7cbr7oKHX3SB321vpp2wAMELe82a+bPcZr2y9lrWAFrW0GkADAgAWZgRm9oWucxzNcEW4m/DTlaADglsFBYKABlvcG2upNzfvvc84BtQBAEAQBAEAQBAEAQBAEA1NobToUFzVq1OkvbUdUHqxEzhXKbxFN+R43ghTv8A7Lvb6bQ/W09eE3fktR/Y/cebyJrZ206Fdc9CrTqr96m6uPVTNE65QeJLHmZZNuYgQBAEA+E24wDk8Zv/AIZHyhajgcXULbyuReWdeyb5Ry8LwZUz2xRGW6svxR0Gydq0cSmei4YcCOBU9jA6gyDdRZTLdmsFjTfC6O9B5RuzUbRAEAQD5eeZQPs9AgCAIAgCAIAgCAIAgCAIBU/Sd0nth3bCYIjrV0qVtCKZ+4gOhccydBw1N7XOg2arF2lvLou802W7vBFKYyvUrOalV2qOeLOxZj5mdBCEYLEVhEZzyY1ozLJg5m/snG1sNUFWhUanUXgym3kRwYdxuDNVtcLY7s1lHita5H6b3J2/9OwdLEEBXN1dRwDqbNbuNrjuInI6qjsLXD94LCE96OSdkczEAQCD30xGTB1bGxYBfHMwBHpeTNBDe1Eff7iBtSzc0s/Hh7yn606yJx0TLsXbNTCVhVpnuZeTrzU/uPIzXqdNDUQ3Jex9xYaTUSolvR9viXds3HJXpJVpm6OAR+8HsIOh8Jx1lcq5uEuaOthNTipR5M2ZgZmDF4jIO88JF1WpVMc9ehsrr32QGLxTNxJ/d6Tm9RqbLPWkWlVMY8kQmNxOXgbHu0mGmhJyyWNVSlzR92Vvi9NstYl6f3uLr3/iHdx+U6rT727iRjqtjxsjvVcJd3R/Y72jVV1DKQVYAgjUEHgRN5zMouLcWuKPcHggCAIAgCAIAgCAIBAb+bbODwNeuvvhQqfpuQim3OxbN4KZJ0lPbXRg+X0MJy3Ytn5h6sk3JJJ1JOpJPEk8zOvzjgisc8m9sbZLYivSoJYNVdVBPAXOpPcBr5TXbaq4Ob6CGZyUSyd6OjvZmCw1RnxjiuKNR6aPVop1ropIVaZXMwLWFgSdeMpatp32TSUVjPj9yY9NDBWNJARcS7UsrJWSlh4L96HcKU2ap/vKlVh5Nk/0TmtpyzqH4JFrpf5SZ28ryQfCYDeDk9tb4hSVoAMR9tvd/KOfj85a6fZrkt6zh4dTnNZt+MW4ULPi+Xs7zjds7Tr1TaszG2oUjKBcXByi3I8e+W+noprWa17Sm1Gq1F0sXN+XL4Glgdi4jEXNGmXC8TcAX7LsQCe6bbdVVTwslg2afSXXZdcckXtPAVaVhVpshJYAMMubLbNlv7wFxqNNRN1V9dj9CSZuensrWZxaO16JNrG9XCsdLdYndqFcfFTbxlRtvT+rcvJ/QutlXZTrfmWXOfLgg9qVrue7Sc5tG3eta7uBY6aHokYlI1GyggaEkngoHEmQNPRLUWbiJk5qqO8yAxm19m3INTEvb7SKoU94zC9p0Wn0dUOTbN1U9bzjGPt/yatF9m1SVV8YtgSXNNWRAOLPkUkKOZ0A7ZZwg1yN8tXrq+Mox9/F+XEk9kbbbZ1VsLiDnpaMjrrYNezAcSp1uORBteSlR20d6HMiauuGtj29XCXJr99fmd/hMUlVA9NgytwYG4MiSi4vElxKGUXF4ZmmJ4IAgCAIAgCAIAgFfdNqk4BLcOvS/hkqfvtLPZWO3fk/oRdY8VlJLRnRZKhzO56KMLhDis1drVVNPqBci7+1mFhx0y8ZWbTnYq8R5PmTNFuyk88+h1/S5hNnNTZ8QwGKShU+jrmYZjrl9kaN7duMqtHO2MsQ5ZWSwtUWvSKcwlHS4nRQfAoLZceJe3RPjVfALSB9qizqw7mYup8CGt+Uzn9pQcb2+8uNDYpVJdx2cgEw57fPGlKQQGxqEg/ojiPO4+Mn7OqU7N59Cg/EGqdVCrjzl8upX1adCjjYFif2RQxdCk1QBmyC1RPZPD+tDexvObWot09klHhx5M79aWnV0wlPi8LiuH78iQ2NsxcPSFJCSAWN2tc5mJ1sB228povuldNzkS9Np40VquPJFT9LuPd8atEN7FKmhyi3/EYsSSeJ9kra/C5txMutkVLcc+uSv2jZxUehr9GtQjaNH8QqA+HVsfmBJ+1VnSSz4fMibOeL1jxLunInRHL7Uezv4mcjr3i+a8S50yzBEVWrf7tje7DVf2TLDZNWN596N2ohiVX/ALHMYWqmGwYxQpJVq1KvVJ1gzJTAUsWK6XY2Pw773tNZItU7buwTaSWXjmz3iceamBq4kKuHqhxRqmgMi1adW3FbmzAkX1va/bpNrh6aizCVfZXRpm96LWVnnFr6Gpvi5C7O1v8A7lSBPboJP0UfTn5kWmW7ZZj+5mfcreBsNXUE/U1CA68gToKg7CNL9o8rStbpFdW2vWXL7EfVJTWepcs5orRAEAQBAEAQBAEAgd+NknFYKtSUXewZO9kIYAeNsvnJGkt7K6Mn+8mnUQ363FH5/FGdVk5pzJ7cil/v+G/xB++RNa/9CXkb9HL/AF4k502pfF4b/Bb9uVuzeUvYWe0JYijjKGGtLhcChnZknd29rVMHWFVOHB05OvMHv7DyPnNOopjdDdfsMtPq3TPeXLqXth6odVddQwBHgRcTmWmnhnWRaayjmt+6Jy035AsPUAj9kyz2ZLEpROY/E1TcK7O5te//AAcNVl2jloHY7lYgopU18MaepsG+sBPJhpYeOsotoOM55UWn1zyO42PCyurdlKLj0wza3j34wmFQ/WLVqfZpU2DEn8RGiDvPkDwkanSWWvgsLvLK3U11riyk8VialetUr1Td6jFm7OwAdwAAHcBOp01Srioroc9qLnZJyZ3HRPs0vinrW9mkhF/xvoLflDeokTbVyjSq+rfwX6kvZdbc3PuLbnMF6ctvYmRg/Jh8R/K0oNo6Z9uprk/mi52Y1NOPcc/s1uuGJw4ID16FREJ4ZyDYfH4Sx0Ne4iw19bhCFuOEZJvyIPZtbEUEehVwpqIxBajVRgMw4MrAeydB7QvwEtoQz1NttdN6VkLFGS5NNcu5o0dq18Xiurw9PCGjSVrrRpoxu50zu7AXNjxNgL6ydTCEHvSkQd2MJOc57z72z1v46rWw2GDBmwuGpU6hHDOBqvoAfzSVoE3vT6N5IFc870+95IlKZayqLliAB2k6AeplusRWXyRptmfoZBYATiCIfYAgCAIAgCAIAgCAVdv5uWyu2Jw63RiS6KNUPNlHNTxI5eHC50WtW6q5vyZR7Q0ck3ZWvNHF4Ko9J1qU2yupurWBse2xBB85YzipxcZcmU8L5VzUo80eNs4vFYmor4ir1pQZVOVFspN7WQCR66I1eqTLtf20fSMlKjpJOSslPiTWwN262KYBFIS/tVCPZA52+8e4fCR79TCpcefcSdLpLdRL0Vw7y5sPRCIqLwUBR4AWHynOttvLOwjFRSS6GHaeCFam1M8xoewjUH1mdNrrmproaNXpo6mmVUuvz6FXbRwr0nZHFmHx7CO0TqKbI2RUonz27T2aex12LDRC43Cq/EC/bN26mSKbZR5EY+BA4TOMCUr2zd2LsCtiamSkt/vMfdQdrH93EzG/U16eOZv2dWStPRZfLEfeXTu9sanhKK0aettWbm7Hix9PIACcnqdRK+xzl/hHU0UxpgoxJKaDcaW18AK9JqZ0J1U9jDgf67TMLK1NYZv017osU1+0VHtCk9KoUcFXU/HiCD8QZsprwdzTZC6tSjxT/eDxW3l2guiYuoB2EU2P6zKSfMyxr08Zc0Veo2fpk8qPzNOvvTtJgVOLqWPYKanyZVBHkZOr0VXPdK2zTVR5IhaWHsbnUnUk6kk6kkniZZQhgi2SwWJ0c7sM7riqq2RdaYP225P+iOXadeWtbtTWqMXTB8evh4EGTyyzpz5iIAgCAIAgCAIAgCAIBCbU3VwlclmpAMeLJ7JPebaE+IkivVW18EyHdoKLnmUePhwIn/Z3hv7yt6p/2SR/Ebe5EL+CUf3P4fYkcDubg6evV5yObnN/l934TTPWXS648iTVsvTVvO7nz4/oTyIAAAAAOAGgEik9JLgj1B6IBpbS2XSrraot7cDwYeBE203zqeYMjanSU6iOLFn5r2nNV9waZPs1mA71DH1FpZR2vNLjFFS9gVp+jN/AzYPcHDKb1C9TuJyr6Lr8Zrs2tdJYjhEmnY1EHmWWdPhcMlNQlNVRRwVQAPQSunOU3mTyy0jCMFiKwjLMTIQBAIjb+79HFLZwQ491194d3eO4/CZwm4vJM0mut0z9Dk+a6HA7R3Bxan6vJVHKzZD5htB6mWdGrqXrcC1e1a7FxymalDcPHMbGmqd7Otv8mYyb/EdPFcG37PuQrdXB8mdXsHo9o0iHrt1zDgtrUx4ji/np3SBqNq2TW7Wt1fH9CBOzeO0AlWaj7AEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQDQ21tejhaRq1mso0AGrMeSqOZ/rhAKs210j4uoSKNqCcrAO58WYEeg8zPcAjcHv7tCmwbr+sHNKiqVPmAGHkRPcAtjdPeWljqWdPZdbCpTJuUJ7+amxsfkQQPGgTk8AgCAIBEbR3lwtE2aoCw+yntHztoPOYSsiiFdtHT0vEpcfDiRJ6QMNe2St45U/77zX+YiRVtqhvGH7v1JjZO8WGxBtTqDN9xrq3kDx8rzONkZcmTqNZTd6kuPxJWbCSIAgGHGYunSQvUdUReLMQAPMzxtJZZnXXOySjBZb7jh9pdKmEQkUkqVbfa0RT4Fva+EiT1sFy4nQaf8ADOqsWbGo/F/Dh8TSw3S3TJ+swrKPw1A59Cq/OYLXrqiVP8J2pehYn5pr7nabA3kw2LBNGpcjih9lx4qeI7xcSVXdCz1Wc/rNnajRvF0cePR+0l5tIQgCAIAgCAIAgCAIB8JgFF75bebGYgvf6tLrSHYv3vFrX9BynoIAKTwBPPTXTtnp6SlfA4dMB1ufrMVUIyUkN+qph7NUqhbkXVWsTpqOwzxs9SyaW7W3XwldK9PUDRl++h95T8we0AzLmeNYP0NgcWlWmlWmcyOoZT2gi48JgeGeAYsTXVFLubKOJM8bwYWWRri5zeEjgNv7x1K11QlKXYNGb9Ij5fOR52N8jkdbtazUNxhwj8X5/Y0K2zMPQVWxtY0y4utGmM1UjtIscvmPO+kw3VFekzZVs2EIKeplu56LmYKSbMrnLTrVqDnRTXVShPeV93xJE8xW+Tx5m5aTRWPFc2n4kRtbZ9XDVcjjK62IIJ/Kyt5ce6aZRcXhkC6mzT2bsuD/AHyLH3E3jOJpmnUP11MC5++vAN48j5dsmUW7yw+Z0mztZ28MS9ZfHxOqm8sjBjsWlKm9WocqIpZj2AC5njaSyzOuuVk1CPN8D8/b170VsfWubimDalSHK+g0HFj2yputlY/A+h7O0NWir/8ALq/30NAbIxP9xV/6b/wmrs59zJy12n/5I+9fc9DZOJ/uKv8A03/hMeyn3P3Gxa7T/wDJH/6X3POFxNWhVDoWp1KZuDwII5EH4g8Z4nKDyuDNtkKtTU4yxKLP0BurtkYvDU64FiRZh2OujDw5juIl1TZ2kFI+X7Q0b0molS+nLy6EvNpCEAQBAEAQBAEAQCH3vrlMFiGGh6tgD2Zhlv8AGAUM09BeG4mzadHBUSgGaqiVHbmzOobU917DwngJwU1QEqoHEnKALnt04mAfmPFbWbEVXrOioarFsqAKq3+zYfE8zcnjMos2Sj3Fs9DO2C9KrhWOtI50/QcnMB4Nc/8AuCJI1lkTEHC70bTNV8gP1aG3iw0LfMD+c0WSzwOM2tr3fb2cX6Mfi+/7Glu5hQ+JphuAu1v0RcfG0wgsyNWyqo2aqKl0y/d+pG7BRMa2LrVlNSqyM6KLFgADZaY7R7AHl3zGHp5bLaiVeqst7Ti8cPLwIFaQsLia2c/xTJva9Q1Nm0qrath63VXPE02W4Hkctv0e+ZS41p9zLzP5jQqUucXjJq7k4o08bRI4OSh7w4It62PlMKniaNGzbHDUR8eBc0sTrTgemfHMmBVB/wA2qqt+ioZ7frKsjap4hgu9g1qWq3n0Tf0OS6FKCtjKjEAlKRKk8iWUEjvtceZkfSJbzZbfiGySojFPg39C097tufQsK+JydZkKDLfLcM6odbHhmv5SdOW7HJyumod9qrTxkx7r71YbHIWoscy2zowsyX4X5HxBIiFkZrKMtTpLdNLdsRXfTYiriMOwAu9Nwx5nKwy38MxkLWwXBnTfhi+SU4N8OBNdCtYmhXTkKit5stj+wJloX6LXiafxVFdvCXfH5P8AUsaTjlhAEAQBAEAQBAEAit68MamDxCDUmk5A7SBmA9RAKDaegt/oy24tbDCgT9ZQGW3M0/sMO4D2T4d4hg61MQhvZ1OX3rEHL49k8B+dd7auHqYys+GQLSLaWvZj9pwOQLXIA0taZJGeeBM9FOJKbSpr/eJVQ+GXrPnTE9fIwLxxLEIxHEKT8JrZrubjXJruZWriRmfNos2dguy4mkV4lreRBDfC58oh6xZ7MnKOqhu9Xj7kU+DqUK1WpSSolOnVcJUykCwJ4G1iOI7CJjhrkSNZTbRqHbWmknweP3wJH/8AoK9anUoUsLSepWFmddNSLZ2S1rjtLAXnu+2sJE2naMroutVJylzxyfiyG3vrLSo0cArBnRutrsvAVCLBO+wJv4LMLOCUF7TLUbum06oT4835nzcXBmpjKPYhLnuCjT/MVHnMalmaIuzIOepj4cS5JYHWnD9L+y2rYAuouaDioR+GxV/QNm/LNGpjvQ8i22NeqtSk/wCpYK96JduUcNi369wi1KZUOxsoYMrDMeABAOp7pF00lGXEvNt0TuoTgs4Za+19qbLxNI0a2Kwz02Kkr9IQXysGGqsDxUSdJxawzlao31yU4Jp+RlwW3NmUkFOlicIiDgq1aKj0DQnFcEJ13ze9JSb8Uyqel3b1DE4mitBxUFJGDOpBS7EGysNDYLqRpr4yHqpJ4SOk2BROrMpLGTr+hSgRhqz/AHqoUflQH/X8Jnol6LfiR/xNZvXwj3R+bLFkw5sQBAEAQBAEAQBAEAonfLYZwmJZLfVtdqZ5FSfd8Vvb0POeoHPt/VtJ6emotHLcDQEW00uOw908SMt7IYTNGLOu6KMC1TaKOBpRR3J5aqaYHic9/wApiXI8LyIms8azwZX21cEaVQoeA4HtXkZoksM+e63Sy01zrfLp4o0qeIqUznpkBwDlJGYC4sTbwmGWuR7pNRKiztIriadPbu0FcscQxPMEIV/VtYeInm9LvJ62zqFLOTHtDebaDqU60IDx6tQhP5uI8iJ45zfU2y2zbJYXDyILCbPZmCqpZieABJJ/fNW73EHendLEeLZbG5e7v0WmWe3W1LZueVRwW/xP8pLqr3Vl8zqtnaL8vDMvWfP7HSTcWR5dAQQQCCLEHUEHiDATwUF0ibkvgqhq0gWwznQ8erJ+w/d2Hnw48a+6ndeVyOw2ZtJXx3J+svicT1YmjLLTs4s9CmJ5vMzVUTLRokkBQSSQAALkk6AADiZ5xfA2KMYLeZ+ld0Nj/RMJSoH3lW7/AKbe02vOxNvACWtUNyCR8/1+p/M6iVnR8vLoTM2EQQBAEAQBAEAQBAEAj9ubFo4umaVZbjiCNGU/eU8j8O2AVjtfoyxSEmgyVl5AnI/hY+yfG48J7kEE25G0b2+iv+tT+Ye09yDf2b0Y46oR1mSgvPMwdvJUJB82E93gWlutu1RwNI06VyzWL1G95yOF7cANbDlc8yScW8gmp4DU2hs9Ky5XHgRxHhPGskTV6OrVQ3bF5PqjmsRunVv7DoR+K6n4AzU6mc/P8P2p+hNNeOV9zNgtzlves+b8K6DzbifK09VS6krT7BguN0s+C4L38/kS43fwtrdRT81ufU6zLcj3Fqtn6Vf9te428JgaVP8A4dNE/RUD1tMlFLkSK6a61iEUvI2J6bBAEAx16KupV1DKwIKsAQQeIIPERg9TaeUVnvL0R03JfB1BSJ16p7lL/hYXZR3EHykWemT4xLzS7bnBbtqz49f1OS/2W7SzW6unb73WLb+Pwmj8tMtFtzTYzx9x3+4vRymEYV67LUrD3Qt8lM9ovqzd9hbs5yRTp1Di+ZT7Q2vLULs4LEfizvpJKYQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAOc3i32weEuHfPU/uqdmb82tl8zNNl8Ic2WGk2ZqNTxisLvfBfr7Dm8J0uYcvapQqIpPvAh7d5XQ+l5qWsi3xRY2fh26Mcxkm+7kWDg8WlVFqU2DI4urDUESUmmsooJwlCTjJYaM09MRAPhNp45JLLBgbG0x9tfW/ykOW0tJF4dkfebFTY+jMlOure6wPgZtp1VN38uafkzGUJR5oySQYiAIAgCAR20tuYahpWrIh+6WGbyUan0m2ui2z1Itmqd1dfrNIil392eTbrj49XUt+zJH8O1H9vxX3I38R0+fW+DJzAbQpVlzUqiuOeUg28RxHnIs65weJLBKrthYswaZtTA2CAIAgCAIAgCAIAgHitVVVLMQqqCSSbAAakk8p43g9jFyeFzK52/0mEEphKYIH/NqXse9aYsfMkeEg2a1coI6TSbAyt6+WPBfV/Y5zD1NqbSLfXN1a++xbqaK87NkHtacte+aYu67k+BYWR2foEsxW906y+PL4GAbhO6t9GxWFxDL71OlVBby5epE9ell0aYjtypNKyEorva/f1OVr4ZlYqwKspIIIsQRoQRykZ5Twy5jNSSlF5TLH6GtqsHq4ViSpXrE7iCFcDxzKfI9snaOznE5r8Q6ZYjeufJ/QtaTzljR2rtAUl7WPAfvPdK7aW0I6OvPOT5L99CRp9O7pY6HN1sU9Q3Zie7kPAThdTrLtTLNks+HT3FvCmFaxFHqkCdBqewSNGEpyUYrL8DyTS4s2+rZbXBHlabbdNfp2pTi49z5fE0b8ZcnkksHjjwbUdv8ZfbM29KLVepeV/d1Xn4eJDtoXOJJzsE88iIJ6D4zAAkmwGpJ4AQCot7OkGtiKv0fAkqhYIKi6PVYnKMh+wpJ0PE9o4TodJs2FcO0v588dF595VajVyk9ys5zeDd6vg3UV8pNQMwZWLXsRmuSAbjML+Ik3T6qu9Pc6FdqtPZVxl1NOlNzK+RKbMxtSi4qU2KsOY+RHMd0j21xsjuyXAxhdOqW/B4Zce7W2lxVEPazDR17G7u48R/Kc3qaHTPd6dDrdFq46mvfXPr5ktI5LEAQBAEAQBAEAQDhelTHstKnQU26wlm71S1lPizA/lkDXWYiorqX+wKFKyVr/p5eb/QrFqUrcnWZO0x2AWoNkYEkjDV1apVykr1rhBUysR+InT8Q5gWtYpbsIrkzk5WS7TUXv1ovCz0WcfBEBtfB0cNtcU8GCnV1KAUAk2dsuZQSb2IaxHeRNNnoXLc8CfpZu/RSd/HhL4GfpTRV2kQoHt0qbNb793W5/KqTzWJb+Ue7Ctl2G6+WXg99F1M/wBoIRyp1L+FgPmRMdH/ADPYbtuv/aPzX1LplqcUclvDUJrkHkFA9L/Mzh9vTctW0+iX3LzQxSpz3mmkoyRI6DYFAjMxHEDKe7W9vQTrfw7pZQUrZx54w/AqtbYm1FM39qITRqBRdsrFR+IC6/G0vtZTG6iUGs5Xx6EOEt2SZC4diRqLMNCOwjiJ80uplVN1zWGixymsomNnVbjKeXDwnX/h3XO2t0TfGPLy/QhXww8m5OlNBwfTBtk0cGKKGzYhip7erUXe3jdV8GMtdkUKy7efKPH29CLrLN2vC6lPbMp5qtNbkXdBccRdgLjvE6S14hJ+DKWKzNIsTeXdhn2lg6FbF1qvXJWszBLoKalrKFAGttSdTOd0+pUKpzhFLGO/qWmoo7SUYSfM36W4mDWsaFTGfWtrTpA0xUK21JU6nUNwHAeM9e07XHeUOHtI/wDCqs4cn8Dl9s7NOGxD0Cc2S1jwurC4NuXG3iDLCi9XVqSKPW6aWns3X7DpOjjFlMSU5VFIt3r7QPpm9ZD2lDNe93Mk7Ftcb3Do18izpRnViAIAgCAIAgCAIBwvSfgSRRrDguZG7s1ip/ykeYldtCDxGR0OwLkpTrfXDXs/yV81OVh051G4ud8RTDuepwq1aqqbWVmGS9+PB2NuHGWGinKUt18lxKHbNcIVucV6U2k/Fc/ojRw+8Oy1rHHijiWxDnOKLZerWoRbMG+OpNuIXhbb2lO9v9TR+W1vZfl8rd7+uO45XG4qria9TEVffqG9hwUAWVR3AADykS6zfeS40mnVMFCPQsDon2d9ZWrkaKopqe9iGb0Cp+tJGhjxcvYVn4gv9GFS838l9Sy5ZHLkNt3ZRqEOnvAWI7Ryt3yg2xsuWpxbV6y6d/6k/R6pV+jLkc+EINiLHnflOOnVKE9yfB+PQtN5NZXE6fYlBFTMrBsx1I4aaWt3Tu9k6WOnoxGe9njlcvYUmpsc58Vg36qBgVPAgg8uOnHlLSSTWGRzk8FTpUnalTqBrXvbtBsb8r9tp872ppuxtwpqS+K8yyhJyjlrBNbPb2x33m3YFm7rorvTX1+hqvXokrPoBCKi6c79bhOzLW+dO/7p0Ow/Vn7PqV2v5ROD2L/x6P8AiU/2hLbUfy5eT+RWV/zI+aLj3h/9b2Z+hiv/AImnKU/9NZ7PmXln82HtOdxQ/wDMh7npf/XX+Jkutf7J/vqQ7W/zkTV6RT/4k3+FT/1Tbs3+V7SDtn115G7uDRLYymfuB2PhlK/NhM9oSxS134IOyIb2qT7k39PqWrKA7AQBAEAQBAEAQBAMOMwqVUam4urCxH9cDMZRUlhmddkq5qcXhorTbu6dagSVBqU+TAXYD8aj5jTw4Smu0k6+K4o67R7WqvWJvdl8H5EEcTVSlWSlYGsgRjzCX9oDvIuPMzXTduZx1Jep0yucJP8ApeSNwuFsLETCUjfBcCX2Lu5VxDAU1st9ahHsr58z3D+c2VUztfo+8j6rXU6aOZPj3df0Lc2PsxMPSWlT4LzPFieLHvJl3XWq4qKOL1OonfY7J83+8G7MzQIBqbQwC1Rrow4NzH8RK/X7Oq1cMS4Po+79DdTfKp8ORylfA5alyMtReDDQ+RHKcPP8xorXDLTX7yvAtswtjnozxisK9UjrajOBwDWsPIAC/fMr9p6i9YnI1qmEOSNzCYNU4CQJTcuZ4yWwPvjz+UsdiRctdXjpn5MjX+qyXn0Qglf9MuyDVwiV1Fzh31/w3srHyYIfAGW2x7lC5wf9S+KIethvV57inqRnSso5PDNlQxYNne4vYlmuL8bG9xIroguSQlqbOrNnD0iGzZmJPMkk9nHjMeyiljHAj2aibec8TdweBd6gy5ndtANWY93bNTUK1nkjVKyy97vFst/czd84amWqW617X55QOC37e3+UodZqe2lhckdFs3Q/loZl6z5+HgdHIZZiAIAgCAIAgCAIAgCAaeK2VQqG70abHtKgn14zXKqEvWSZvr1N1fqSa9pgp7v4RTcYenfvUH5zFaepcoozlrtTJYc37ySVQBYCwHITcRW88z7AEAQBANHamB6wXHvDh390qNrbNWrrzH11y8fAkae/s5ceRAKCDY6EcpwU4ShJxksNFplNZRnQzWzWyX2bQI9o8+H8Z2H4f2dOvOosWG1hLw6v2kC+xP0Ub86gjGPEUFdGRwGVwVZTwKkWIPkZ7GTi8rmeNJrDKB3t3YfA1yhuaTXNJ+1fuk/eHA+vOddo9XHUQz1XNFBq6HVLwIylJDK+R33R3uvTxIetWBNNTlVbkBm4kkjWwuPXulPtHWSqahDmT9n6KN2Z2Lh0LNwOzaNEWpU0S/HKoBPieJlHO2c/WbZe1011+okjamBsEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAw1sKj+8oJ7efqJE1Gg0+o42wTfx95nC2cPVZ8pYOmvBR8/nNdOy9JS96Faz7/meytnLmzPJ5rEAQDV2ns6liKZpVkDoeR7e0Eag941mddk65b0HhmE4RnHdkuBx46L8LnuKtbLf3br6Zst7fHvlj/FrsYwskB7MqbzlnZYDBU6NNaVJQqKLAD+tSTrfnK6c5Tk5SeWyfXXGEVGKwkbEwMxAEAQBAEAQBAEAQBAEAQBAEAQBAMH0tL2v8DrrbTu7+Gs9weZH0tO34H+hGBkfS07fKxv6eXnGBlA4pRxuBrrY8jbXsjAyYsdjgi3AvxtwAutydSRyB9ISyeN4Pn9pLlViCAxI7bBQSSSLi2hjdG8e/7Rpfe521BHb3dxv2WjDPd5HltpU7rroefDlcaHU3uLW43jdZ5vI3J4ZCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIBiGHW97fP08O6MnmDw2EU27vjrfXmdRPcjB7NBeyeDANBdNOHD1v5666xkYPjYVCgQj2Rbu4d4nuRhA4ZMoXKLC9h4gg/An1jIwj4cIl75db358e34mMjCPCbPpgAZb2FrnU8AP3CMsbqNqeHogCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIB//9k=");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menuForm input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 5px;
  outline-color: #077EFF;
  width: 300px;
}

.menuFormContainer{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.menu{
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: center;
}