@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.card {
  background-color: wheat;
  max-width: 200px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-family: sans-serif;
  margin: 10px;
  padding: 2px;
  text-align: center;
  display: inline-block;
}

.card img {
  width: 200px;
}

.card :hover {
  transform: scale(1.02);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.taskCard {
  background-color: transparent;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-family: sans-serif;
  margin: 10px;
  padding: 16px;
  text-align: center;

  margin-top: 50px;

  background-color: white;
}

.taskHeader {
  border-style: solid;
  border-radius: 5px;
  background-color: #f9f9f7;
  color: black;
}

.taskStatus {
  padding: 0px 10px 20px 0px;
  border-radius: 5px;
}

.deleteTask {
  border-radius: 5px;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: antiquewhite;
}

button:hover {
  background-color: white;
  transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  width: 300px; /* fixed from "100" */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content input,
.modal-content select,
.modal-content .developerDropDown {
  margin-bottom: 12px;
  width: 200px;
  height: 30px;
}

.mainContainer {
  font-family: sans-serif;
  margin: 10px;
  padding: 2px;
  text-align: center;

  display: inline-block;
}

.close-icon {
  border-radius: 15px;
  margin-left: 250px;
  background-color: red;
}

.sideBar {
  height: 100%;
  width: 200px;
  background-color: #f2edee;
  display: flex;
  flex-direction: column;
}

.welcomeImage {
  background-color: blue;
}

.App {
  height: 100vh;
  width: 100vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.sideBarList {
  display: flex;
  flex-direction: column;
}

.menuName {
  font-size: 8px;
}

.icon img {
  width: 30px;
  height: 18px;
  object-fit: contain;
}

.sdbar {
}

.container {
  display: flex;
  flex-direction: row;
}

.App {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.videoDownload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 200px;
}

.videoDownload #downloadInput,
#buttonDownload {
  border: 1px solid black;
  border-radius: 10px;
}
.videoDownload #buttonDownload {
  margin-top: 10px;
  margin-left: 190px;

  width: 100px;
}

.videoDownload #downloadInput {
  width: 250px;
  padding: 20px;
}

.quizApp {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  margin-top: 100px;
  flex-direction: column;
}

.questionBox {
  width: 400px;
  height: 200px;
  border: 1px solid blanchedalmond;
  border-radius: 12px;
}

.answerBox {
  width: 400px;
  height: 200px;
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 20%;
}

::-webkit-scrollbar {
  display: none;
}

.menu-container {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/011/020/176/small/abstract-white-and-light-gray-wave-modern-soft-luxury-texture-with-smooth-and-clean-background-free-vector.jpg");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menuForm input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 5px;
  outline-color: #077eff;
  width: 300px;
}

.menuFormContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: center;
}

.menuSubmit {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.menuSubmit #appText {
  text-align: center;
  font-style: inherit;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 30px;
}

table {
  width: 60%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.menuViewHeader {
}

.menu-list-view button {
  border: 5px;
  color: black;
  font-style: italic;
  width: 50px;
}

.sideBar button {
  border: 0px;
  border-radius: 0px;
  background-color: #f2edee;
  margin-top: 280px;
}

.App {
  display: flex;
}

.main-screen {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f5f5f5;
}
.side-bar-screen {
  width: 200px;
  height: 100%;
  background-color: #1e1e1e;
}
