img {
  width: 80px;
  border-radius: 40px;
}

.mainContainer {
  height: 100vh;
  position: relative;
  width: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;

}
.productContainer{
  height: 100vh;
  width: 80%;
  background-color: aqua;
}


.billingContainer{
  height: 100vh;
  width: 20%;
  background-color: black;
}

  background: rgba(220, 53, 69, 0.5);